/* Google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Mulish', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --font_weight_800: 800;
    --font_weight_700: 700;
    --font_weight_400: 400;
    --common_font_size: 1em;
    --common_color_1: #FF5400;
    --common_color_2: #5A5A5D;
    --common_color_3: #131318;
    --common_color_4: rgba(19, 19, 24, 0.70);
    --nav_menu_color: #424247;
}

.common_button {
    border: none;
    color: #fff;
    padding: 1em 1.5em;
    background-color: #FF5400;
    font-weight: var(--font_weight_800);
    font-size: 1.1em;
    border-radius: 0.5em;
    font-family: 'Mulish', sans-serif;
    width: auto;
}

.common_margin {
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: #fff;
}

.common_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 
                                        Header.
=========================================================================================
*/
header {
    margin: 3.125em 0;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_flex h3 {
    font-size: 2.25em;
    font-weight: var(--font_weight_800);
    margin-left: .5em;
    color: var(--common_color_3);
}

.header_flex h3 span {
    color: var(--common_color_1);
}

.header_navigation ul {
    display: flex;
    justify-content: space-between;
    gap: 2.75em;
}

.header_navigation ul li a {
    color: #424247;
    font-weight: var(--font_weight_400);
    font-size: 1.125em;
}

.header_navigation span {
    display: none;
}







/* 
                                            Main.
=========================================================================================
*/

/* 
                                Explore your trouvel section.
=============================================================================
*/
#explore_travel_section .common_margin {
    background-image: url("../images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1em;
}

.travel_gradient {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 1em;
    padding: 6.625em 0;
    text-align: center;
}

.travel_gradient h3 {
    color: #FFF;
    font-size: 4em;
    font-weight: var(--font_weight_800);
}

.travel_gradient p {
    width: 60%;
    margin: 1.5em auto 3em;
    color: #fff;
    font-weight: var(--font_weight_400);
    font-size: var(--common_font_size);
}

.travel_gradient div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1.5em;
    border-radius: .5em;
}

.travel_transparent {
    background: rgba(255, 255, 255, 0.30);
    padding: 1em;
}

.travel_gradient div>div input,
option,
select,
button {
    border: none;
    font-size: 1em;
    width: 100%;
    padding: 1em;
    font-weight: var(--font_weight_400);
    background-color: #fff;
    border-radius: .5em;
    color: rgba(19, 19, 24, 0.50);
}

.mountain_button {
    width: 100%;
}

.mountain_button span {
    margin-right: .5em;
}

/* 
                                Popular tour section.
=============================================================================
*/
#popular_tour_section {
    margin: 6.25em 0;
}

.popular_tour {
    gap: 3.3125em;
}

.popular_tour_left h3 {
    font-weight: var(--font_weight_800);
    color: var(--common_color_3);
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.popular_tour_left p {
    font-size: var(--common_font_size);
    font-size: var(--font_weight_400);
    color: var(--common_color_4);
}

.popular_tour_left ul {
    list-style: disc;
    color: var(--common_color_4);
    padding-left: 1.5em;
}

.popular_tour_left ul li {
    margin-top: 1.5em;
}

.popular_tour_left_p_color {
    color: var(--common_color_2);
    padding: 1.5em 0 2em;
}

.popular_tour_button {
    padding: 0.875em 2.125em;
    width: auto;
}


/* 
                                Choose destination section.
=============================================================================
*/
.choose_destination_text h3 {
    color: var(--common_color_3);
    text-align: center;
    font-size: 2.5em;
    font-weight: var(--font_weight_800);
}

.choose_destination_text p {
    font-size: var(--common_font_size);
    color: var(--common_color_4);
    width: 65%;
    margin: 1.5em auto 3em;
    text-align: center;
    font-weight: var(--font_weight_400);
    font-size: var(--common_font_size);
}

/* Choose destination grid. */
.destination_image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1em;
}

.destination_gradient {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    height: 18.75em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.destination_image_1 {
    background-image: url("../images/Rectangle\ 5.png");
}

.destination_image_2 {
    background-image: url("../images/Rectangle\ 8.png");
}

.destination_image_3 {
    background-image: url("../images/Rectangle\ 6.png");
}

.destination_image_4 {
    background-image: url("../images/Rectangle\ 7.png");
}

.destination_image_5 {
    background-image: url("../images/Rectangle\ 9.png");
}

.destination_image_6 {
    background-image: url("../images/Rectangle\ 11.png");
}

.destination_image_7 {
    background-image: url("../images/Rectangle\ 10.png");
}

.destination_gradient span {
    color: #FFF;
    font-size: 1.75em;
    font-weight: var(--font_weight_800);
}

.destination_row {
    margin-bottom: 1.5em;
    display: grid;
    gap: 1.5em;
}

.destination_row_1 {
    grid-template-columns: repeat(2, 1fr);
}

.destination_row_2 {
    grid-template-columns: 30% auto 30%;
}

.destination_row_3 {
    grid-template-columns: 40% auto;
}


/* 
                                Why choose us section.
=============================================================================
*/
#why_us_section {
    margin: 6.25em 0;
}

#why_us_section>div h3 {
    color: var(--common_color_3);
    font-size: 2.5em;
    font-weight: var(--font_weight_800);
    text-align: center;
}

#why_us_section>div>p {
    width: 60%;
    margin: 1.5em auto 3em;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1em;
    font-weight: var(--font_weight_400);
    text-align: center;
}

.common_margin_top {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    margin-bottom: 1.5em;
}

.common_margin_right {
    display: flex;
    justify-content: center;
}

.common_margin_right div {
    width: 50%;
}

.why_us_div {
    padding: 2em 2em 2em 3.4375em;
    border-radius: 1em;
}

.why_us_div h4 {
    margin: 1.75em 0 1em;
    color: var(--common_color_3);
    font-weight: var(--font_weight_800);
    font-size: 1.5em;
}

.why_us_div p {
    color: var(--common_color_2);
    font-size: var(--common_font_size);
    font-weight: var(--font_weight_400);
}



.why_us_div_1 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.why_us_div_2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why_us_div_3 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


/* 
                                Discount section.
=============================================================================
*/
#discount_section {
    margin-bottom: 6.25em;
}

#discount_section h3 {
    color: var(--common_color_3);
    font-size: 2em;
    font-weight: var(--font_weight_800);
    text-align: center;
}

.discount_paragraph {
    width: 50%;
    margin: 1.5em auto 3em;
    text-align: center;
}

.discount_common {
    background-image: url("../images/Group\ 39.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 3.5em;
    margin-bottom: 1.5em;
    border-radius: 1em;
}

.discount_common_middle {
    background-image: url("../images/Group\ 40.png");
    justify-content: flex-start;
}

.discount_width {
    width: 45%;
    border-radius: var(--common_font_size);
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.125em;
}

.discount_width ul {
    display: flex;
    gap: 1.5em;
    margin: 1.625em 0 1em;
}

.discount_width ul li i {
    color: var(--common_color_1);
}

.discount_width ul li,
.discount_width p {
    color: var(--common_color_2);
    font-size: var(--common_font_size);
    font-weight: var(--font_weight_400);
}

.discount_width h4 {
    color: var(--common_color_3);
    font-size: 1.5em;
    font-weight: var(--font_weight_800);
    margin-bottom: 1em;
}

.discount_width span {
    color: var(--common_color_1);
    font-size: 1.25em;
    font-weight: var(--font_weight_800);
    display: block;
    margin: 1em 0 1.5em;
}

.deals_button {
    text-align: center;
    display: block;
}


















/* 
                                        Responsive CSS.
=========================================================================================
*/

@media screen and (max-width: 600px) {

    /* 
                                        Header.
    =====================================================================================
    */
    header {
        margin: 1.125em 0;
    }

    .header_flex img {
        width: 2em;
        height: 1.3em;
    }

    .header_flex h3 {
        font-size: 1.3125em;
        margin-left: .5em;
    }

    .header_navigation ul {
        display: none;
    }

    .header_navigation span {
        display: block;
        font-size: 1.5em;
        color: var(--common_color_3);
    }





    /* 
                                            Main.
    =====================================================================================
    */

    /* 
                                Popular tour section.
    =========================================================================
    */
    .common_flex {
        flex-direction: column;
        gap: 1em;
    }

    #popular_tour_section {
        margin: 1.5em 0;
    }

    .popular_tour {
        gap: 1.5em;
    }

    .popular_tour_left h3 {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    .popular_tour_left p {
        font-size: var(--common_font_size);
    }

    .popular_tour_left ul {
        padding-left: 1em;
    }

    .popular_tour_left ul li {
        margin-top: 1em;
    }

    .popular_tour_left_p_color {
        color: var(--common_color_2);
        padding: 1em 0 1.5em;
    }



    /* 
                                Explore your trouvel section.
    =============================================================================
    */
    .travel_gradient {
        padding: 2em 0;
    }

    .travel_gradient h3 {
        font-size: 1.375em;
    }

    .travel_gradient p {
        width: 95%;
        margin: .5em auto 2em;
    }

    .travel_gradient div {
        flex-direction: column;
    }

    .travel_transparent {
        padding: 1em;
    }

    .travel_gradient div>div input,
    option,
    select,
    button {
        box-sizing: border-box;
    }

    .choose_destination_text h3 {
        font-size: 1.25em;
    }

    .choose_destination_text p {
        font-size: var(--common_font_size);
        width: 95%;
        margin: 1em auto;
    }

    /* Choose destination grid. */
    .destination_gradient span {
        font-size: 1.25em;
        font-weight: var(--font_weight_700);
    }

    .destination_row {
        margin-bottom: 1em;
        gap: 1em;
    }

    .destination_row_1 {
        grid-template-columns: 1fr;
    }

    .destination_row_2 {
        grid-template-columns: 1fr;
    }

    .destination_row_3 {
        grid-template-columns: 1fr;
    }

    /* 
                                Choose destination section.
=============================================================================
*/
    #why_us_section {
        margin: 1.5em 0;
    }

    #why_us_section>div h3 {
        font-size: 1.25em;
    }

    #why_us_section>div>p {
        width: 95%;
        margin: 1.5em auto;
        font-size: 0.875em;
    }

    .common_margin_top {
        flex-direction: column;
        gap: 1em;
        margin-bottom: 1em;
    }

    .common_margin_right {
        display: flex;
        justify-content: center;
    }

    .common_margin_right div {
        width: 100%;
    }

    .why_us_div {
        padding: 2em;
        border-radius: 1em;
    }

    .why_us_div h4 {
        margin: 1em 0 1em;
        font-size: 1.25em;
    }

    .why_us_div p {
        font-size: 0.875em;
        font-weight: var(--font_weight_400);
    }


    /* 
                                    Discount section.
    =============================================================================
    */

    #discount_section {
        margin-bottom: 1.5em;
    }

    #discount_section h3 {
        font-size: 1.25em;
    }

    #discount_section p {
        width: 95%;
        margin: 1em auto;
    }

    .discount_common {
        justify-content: center;
        align-items: flex-end;
        padding: 1.5em;
        margin-bottom: 1em;
    }
    
    .discount_common_middle {
        justify-content: center;
        align-items: flex-end;
    }
    
    .discount_width {
        width: 100%;
        padding: 1.5em;
        margin-top: 60%;
    }
    
    .discount_width ul {
        gap: 1em;
        margin: 1em 0 .5em;
        flex-wrap: wrap;
    }
    
    .discount_width ul li,
    .discount_width p {
        font-size: 0.875em;
    }
    
    .discount_width h4 {
        font-size: 1.25em;
        margin-bottom: .5em;
    }
    
    .discount_width span {
        font-size: 1em;
        margin: .5em 0 1em;
    }



}








@media screen and (min-width: 600px) and (max-width: 992px) {

    /* 
                                            Header.
    =====================================================================================
    */
    header>div.header_flex {
        flex-direction: column;
        gap: 1em;
    }

    /* 
                                            Main.
    =====================================================================================
    */

    /* 
                                Popular tour section.
    =========================================================================
    */
    #popular_tour_section {
        margin: 0;
    }

    .common_flex {
        flex-direction: column;
        text-align: center;
    }

    .popular_tour img {
        width: 100%;
    }

    /* 
                                Explore your travel section.
    =============================================================================
    */
    .travel_gradient div {
        flex-direction: column;
    }

    .travel_gradient div>div input,
    option,
    select,
    button {
        box-sizing: border-box;
    }

    /* 
                                Explore your trouvel section.
    =============================================================================
    */
    .travel_gradient {
        padding: 2em 0;
    }

    .travel_gradient h3 {
        font-size: 1.375em;
    }

    .travel_gradient p {
        width: 95%;
        margin: .5em auto 2em;
    }

    .travel_gradient div {
        flex-direction: column;
    }

    .travel_transparent {
        padding: 1em;
    }

    .travel_gradient div>div input,
    option,
    select,
    button {
        box-sizing: border-box;
    }

    .choose_destination_text h3 {
        font-size: 1.25em;
        margin-top: 1em;
    }

    .choose_destination_text p {
        font-size: var(--common_font_size);
        width: 95%;
        margin: 1em auto;
    }

    /* Choose destination grid. */
    .destination_gradient span {
        font-size: 1.25em;
        font-weight: var(--font_weight_700);
    }

    .destination_row {
        margin-bottom: 1em;
        gap: 1em;
    }

    .destination_row_1 {
        grid-template-columns: 1fr;
    }

    .destination_row_2 {
        grid-template-columns: 1fr;
    }

    .destination_row_3 {
        grid-template-columns: 1fr;
    }
}